body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px
}

li,td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px
}

hr {
    color: brown;
    width: 300px;
    text-align: left
}

a {
    color: black;
}

#loginPanel {
    width: 250px;
    float :left;
}